<launch>
  <node pkg="nodelet" type="nodelet" name="manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="uvc_camera_node"
        args="load uvc_camera/CameraNodelet manager"/>
  <node pkg="nodelet" type="nodelet" name="debayer" args="load image_proc/debayer manager"/>
  <node pkg="nodelet" type="nodelet" name="recify_mono" args="load image_proc/recify manager"/>
  <node pkg="nodelet" type="nodelet" name="recify_color" args="load image_proc/recify manager">
    <remap from="image_mono" to="image_color"/>
    <remap from="image_rect" to="image_rect_color"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="image_view" args="load image_view/image manager">
    <remap from="image" to="image_rect_color"/>
  </node>
</launch>
